<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HeadlessBrowser" value="" />
    <add key="ParallelisationLevel" value="" />
    <add key="BackendUrl" value="" />
    <add key="BackendUsername" value="" />
    <add key="BackendPassword" value="" />
  </appSettings>
</configuration>